<footer itemscope itemtype="http://schema.org/WPFooter">
	<div id="footer-wrapper">
		<div class="footer-main">
			<!-- Logo Link -->
			<a href="/" id="footer-logo-link" itemprop="url">
				<img src="../images/logos/westbrook-logo.png" alt="Westbrook Logo" itemprop="logo">
			</a>
			<div class="nav-wrapper">
				<!-- Company Navigation -->
				<nav class="footer-col" itemscope itemtype="http://schema.org/SiteNavigationElement">
					<h3 itemprop="name">Company</h3>
					<a href="/about" itemprop="url">ABOUT US</a>
					<a href="/certifications" itemprop="url">CERTIFICATIONS</a>
					<a href="https://www.federalflange.com" target="_blank" rel="noopener noreferrer" itemprop="url">FEDERAL FLANGE</a>
					<a href="https://www.westbrookenergygroup.com/" target="_blank" rel="noopener noreferrer" itemprop="url">WESTBROOK ENERGY GROUP</a>
					<a href="https://connect.westbrookmfg.com/" target="_blank" rel="noopener noreferrer" itemprop="url">EMPLOYEE ACCESS</a>
				</nav>
				<!-- Products Navigation -->
				<nav class="footer-col" itemscope itemtype="http://schema.org/SiteNavigationElement">
					<h3 itemprop="name">Products</h3>
					<a href="/products/nipples" itemprop="url">NIPPLES</a>
					<a href="/products/swages-bull-plugs" itemprop="url">SWAGES & BULL PLUGS</a>
					<a href="/products/oilfield-products" itemprop="url">OILFIELD PRODUCTS</a>
					<a href="/products/forged-steel-fittings" itemprop="url">FORGED STEEL FITTINGS</a>
					<a href="/products/api-flanges" itemprop="url">API FLANGES</a>
					<a href="/products/specialty-flanges-fittings" itemprop="url">SPECIALTY FLANGES & FITTINGS</a>
				</nav>
				<!-- Connect Navigation -->
				<nav class="footer-col" itemscope itemtype="http://schema.org/SiteNavigationElement">
					<h3 itemprop="name">Connect</h3>
					<a href="/contact" itemprop="url">CONTACT US</a>
					<a href="/request-for-quote" itemprop="url">REQUEST FOR QUOTE</a>
				</nav>
				<!-- Contact Information -->
				<nav class="footer-col" itemscope itemtype="http://schema.org/Organization">
					<h3 itemprop="name">Headquarters</h3>
						<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						<span itemprop="streetAddress">1111 Lockwood Drive</span>, <br>
						<span itemprop="addressLocality">Houston</span>, <span itemprop="addressRegion">TX</span> <span itemprop="postalCode">77020</span>
					</p>
						<br>
					<p>Business Hours: <time itemprop="openingHours" datetime="Mo-Fr 08:00-17:00">Monday to Friday, 8 AM - 5 PM</time></p>
					<p><a href="tel:+17136756438" itemprop="telephone">Call Us: (713) 675-6438</a></p>
				</nav>
			</div>
		</div>

		<div class="footer-bottom">
			<!-- Copyright Information -->
			<p id="copyright">© 2023 Westbrook Manufacturing | All rights reserved.</p>
			<!-- Credit Information -->
			<p id="credit">Website Designed & Managed by <a href="https://lapraim.com/" target="_blank" rel="noopener noreferrer" title="LaPraim - Web Design and Management" itemprop="url">LaPraim</a>.</p>
		</div>
	</div>
</footer>
