<div id="header-wrapper">
	<a href="/" id="header-logo-link">
		<img src="../images/logos/westbrook-mfg-logo.svg" alt="">
	</a>

	<span id="ham-menu">
		<span class="ham-line"></span>
		<span class="ham-line"></span>
		<span class="ham-line"></span>
	</span>

	<nav id="header-page-links">
		<a href="/about">About</a>
		<a href="/products">Products</a>
		<a href="/certifications">Certifications</a>
		<a href="/request-for-quote">Request For Quote</a>
		<a href="/contact">Contact</a>
		<a class="button clear" href="http://wbm.westbrookmfg.com/" target="_blank">MTR Portal</a>
	</nav>
</div>