<aside>
	<div class="sidebar-wrapper">
		<h4>Other Products</h4>
		<a href="/products/nipples">Nipples</a>
		<a href="/products/swages-bull-plugs">Swages & Bull Plugs</a>
		<a href="/products/oilfield-products">Oilfield Products</a>
		<a href="/products/forged-steel-fittings">Forged Steel Fittings</a>
		<a href="/products/api-flanges">API Flanges</a>
		<a href="/products/specialty-flanges-fittings">Specialty Flanges & Fittings</a>
	</div>
</aside>