<!DOCTYPE html>
<html data-wf-page="5c05726cf49f2ca2dd717748" data-wf-site="5c05726cf49f2c2fcd717749">
<head>
	<title>About Us | Westbrook Manufacturing</title>
	<% include ./partials/head.ejs %>
</head>

<% include ./partials/header.ejs %>

<body id="about">
  <section id="about-hero">
    <div class="section-wrapper sm">
      <div class="col col-5">
        <div class="textbox">
          <h5 class="mini-header">Get to know us</h5>
          <h1>About Westbrook Manufacturing</h1>
          <h6>Globally-integrated, industry-leading, domestic manufacturer of pipe fittings & flanges.</h6>
        </div>
      </div>
      <div class="col col-7">
        <div class="textbox">
          <p>Westbrook Sales & Distributing began in 1966 as a Manufacturer’s Representative in Houston, TX. In 1972 Westbrook established itself as an emergency and specialty manufacturer of pipe fittings serving the energy and industrial sectors. Today Westbrook manufactures a full-spectrum product line of carbon, stainless and alloy pipe nipples, swage nipples, fittings, and related products. Westbrook is an industry leader in providing quick turnaround and custom order pipe fittings and forged products.</p>

          <p>Westbrook's products can be found on the shelves of every major distributor of pipe, valves, and fittings (PVF) throughout the industry servicing the upstream, midstream, and downstream energy sectors as well as industrial markets.</p>

          <p>Westbrook, has maintained its core belief that delivering superior customer service is based on working together as a team, developing a common-sense approach to business relationships based on loyalty, honesty, mutual trust and dedication to providing quality products.</p>
        </div>
      </div>

      <div class="col col-12">
        <span class="img-wrapper">
          <img src="../images/about/about-hero.jpg">
        </span>
      </div>
    </div>
  </section>

</body>


<% include ./partials/footer.ejs %>