<!DOCTYPE html>
<html data-wf-page="5c05726cf49f2ca2dd717748" data-wf-site="5c05726cf49f2c2fcd717749">
<head>
				<title>Certifications | Westbrook Manufacturing</title>
				<% include ./partials/head.ejs %>
</head>

<% include ./partials/header.ejs %>

<body id="certifications">
				<!-- Hero Section -->
				<section class="hero hero-3" style="background-image: url(../images/certifications-hero.jpg)">
								<div class="section-wrapper">
												<div class="textbox light center">
																<h1>Certifications & Licenses</h1>
												</div>
								</div>
				</section>

				<!-- Downloads Section -->
				<section>
								<div class="section-wrapper">
												<div class="downloads-container">
																<!-- Canadian Registration Number -->
																<article class="card download-card">
																				<a class="pdf" href="../images/certifications/Westbrook MFG Alberta CRN.pdf" target="_blank">Canadian Registration Number</a>
																</article>

																<!-- Westbrook Certificate of Compliance -->
																<article class="card download-card">
																				<a class="pdf" href="../images/certifications/certificate-of-compliance-astm-a733-a234-ansi-asme.pdf" target="_blank">Westbrook Certificate of Compliance</a>
																</article>

																<!-- ISO 9001:2015 -->
																<article class="card download-card">
																				<a class="pdf" href="../images/certifications/32813-Certificate-12-AUG-2024.pdf" target="_blank">ISO 9001:2015</a>
																</article>

																<!-- PED Certificate -->
																<article class="card download-card">
																				<a class="pdf" href="../images/certifications/Westbrook-PED-Certificate-28AUG2024.pdf" target="_blank">PED Certification</a>
																</article>
												</div>
								</div>
				</section>

</body>

<% include ./partials/footer.ejs %>
