<!DOCTYPE html>
<html data-wf-page="5c05726cf49f2ca2dd717748" data-wf-site="5c05726cf49f2c2fcd717749">
<head>
	<title>Contact Us | Westbrook Manufacturing</title>
	<% include ./partials/head.ejs %>
</head>

<% include ./partials/header.ejs %>

<body id="contact">

  <section class="hero">
    <div class="section-wrapper">
      <div class="col col-4 contact-col">
        <div class="contact-form-card">
          <form id="contact-form" class="row">
            <div class="textbox">
              <h1>Contact Us</h1>
              <p>Need more details or want to be contacted by a sales representative?</p>
            </div>
            <span class="field-wrapper">
              <label>Name *</label>
              <input id="name" type="text" name="name" required>
            </span>

            <span class="field-wrapper">
              <label>Email</label>
              <input id="email" type="email" name="email">
            </span>

            <span class="field-wrapper">
              <label>Phone</label>
              <input id="phone" type="phone" name="phone">
            </span>

            <span class="field-wrapper">
              <label>Message</label>
              <input id="message" type="text" name="message">
            </span>

            <button id="contact-form-submit" type="submit" class="button red">Submit</button>
            <span id="form-message">Thank you! Your message has been sent.</span>

          </form>
        </div>

        <div class="contact-info-card">
          <div>
            <h5>Address</h5>
            <p><a href="https://www.google.com/search?q=westbrook%20manufacturing&sa=X&ved=2ahUKEwjZxKjqwbvrAhVFLK0KHUGbCuMQvS4wAHoECAsQGA&biw=1687&bih=920&dpr=2&npsic=0&rflfq=1&rlha=0&rllag=29764111,-95308507,903&tbm=lcl&rldimm=3950186116929555574&lqi=Chd3ZXN0YnJvb2sgbWFudWZhY3R1cmluZ1oyChd3ZXN0YnJvb2sgbWFudWZhY3R1cmluZyIXd2VzdGJyb29rIG1hbnVmYWN0dXJpbmc&rldoc=1&tbs=lrf:!1m4!1u2!2m2!2m1!1e1!2m1!1e2!3sIAE,lf:1,lf_ui:2&rlst=f#rlfi=hd:;si:;mv:[[29.774066712332726,-95.30196668221758],[29.759631257408163,-95.32915355279253],null,[29.766849244884455,-95.31556011750506],16]" target="_blank">1111 Lockwood Dr.<br/>Houston, TX 77020</a></p>
          </div>
          <div>
            <h5>Hours</h5>
            <p>Monday-Friday: <br/>8am-5pm</p>
          </div>
          <div>
            <h5>Mailing Address</h5>
            <p>PO Box 15614<br/>Houston, TX 77220</p>
          </div>
          <div>
            <h5>Phone</h5>
            <p>Phone: <a href="tel:713.675.6438">713.675.6438</a></p>
            <p>Toll-Free: <a href="tel:800.231.8014">800.231.8014</a></p>
            <!-- <p>Fax: <a href="tel:713.675.9742">713.675.9742</a></p> -->
          </div>
        </div>
      </div>

      <div class="col col-8 map-col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3463.3117386474305!2d-95.31848944892026!3d29.768626181895048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640beaea405be75%3A0x36d1e15828440c76!2sWestbrook%20Manufacturing!5e0!3m2!1sen!2sus!4v1598506011781!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </section>

	<script type="text/javascript">

    $(function() {
      $('#contact-form').submit(function(e) {
        e.preventDefault();
          let name = $('#name').val();
          let email = $('#email').val();
          let phone = $('#phone').val();
          let message = $('#message').val();

        let submitButton = document.getElementById('contact-form-submit');


        submitButton.setAttribute("disabled", "");
          submitButton.innerText = 'Submitting...'

					let emailContactForm = $.ajax({
            type: 'POST',
            url: '/main-contact-form-submit',
            crossDomain: true,
            dataType: 'json',
            data: {
              name : name,
              email : email,
              phone : phone,
              message : message,
            },
          });

          emailContactForm.done(function(response) {
						console.log('response: ',response);
						if (response === 'error') {
              $("#form-message").text('Submission failed, please contact 713.675.6438 for assistance.').addClass("error");

						} else { // --- Success
							console.log('email sent!');

							setTimeout(() => {
								$("#form-message").addClass("success").text('Thank you! Your message has been sent.');
								submitButton.removeAttribute("disabled");
								setTimeout(() => {
										location.reload(true);
								}, 10000);
							}, 2000);

						}
					});


        // let res = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);

        // if (res){

        // } else {
				// 	$("#form-message").text('Invalid email.').addClass('error');
        // }
      })
    });

  </script>

</body>

<% include ./partials/footer.ejs %>