<!DOCTYPE html>
<html>
<head>
	<title>Westbrook Manufacturing</title>
	<% include ./partials/head.ejs %>
</head>

<% include ./partials/header-alt.ejs %>

<body class="home">
	
	<section id="home-hero" class="hero">
		<div class="section-wrapper">
			<div class="textbox light">
				<p class="sub-title">A<span> Westbrook Energy Group </span>Company</p>
				<h1>Globally-integrated, industry-leading, domestic manufacturer of pipe fittings & flanges.</h1>
				<a class="button" href="../images/seamless-products-increase-letter-628-232-sheets.pdf" target="_blank">Price Advisory</a>
			</div>

			<div class="textbox light">
				<p>TRUSTED BY INDUSTRY LEADERS</p>
				<div class="logo-wrapper">
					<img src="./images/logos/exxonmobil-logo.svg" alt="">
					<img src="./images/logos/conocophillips-logo.svg" alt="">
					<img src="./images/logos/bp-logo.svg" alt="">
					<img src="./images/logos/chevron-logo.svg" alt="">	
				</div>
			</div>
		</div>

		<span id="scrolldown">
			<hr id="top-line">
			<span id="ball-arrow"></span>
			<hr id="bottom-line">
		</span>
	</section>

	<section id="home-products">
		<div class="section-wrapper">
			<div class="product-block dark-opacity" style="background-image: url(../images/products/nipples/nipples-hero.jpg)">
				<div class="textbox center light">
					<h3 class="mini-header">NIPPLES</h3>
					<p>The Industry Standard for Pipe Nipples Since 1966</p>
					<a href="/products/nipples" class="button white">VIEW PRODUCTS</a>
				</div>
			</div>
			<div class="product-block dark-opacity" style="background-image: url(../images/products/swages-bull-plugs/swages-bull-plugs-hero.jpg)">
				<div class="textbox center light">
					<h3 class="mini-header">SWAGES & BULL PLUGS</h3>
					<p>Whatever the Application, Upstream or Downstream, Westbrook has the Answer</p>
					<a href="/products/swages-bull-plugs" class="button white">VIEW PRODUCTS</a>
				</div>
			</div>
			<div class="product-block dark-opacity" style="background-image: url(../images/products/oilfield/oilfield-hero.jpg)">
				<div class="textbox center light">
					<h3 class="mini-header">OILFIELD PRODUCTS</h3>
					<p>The Hookups You Need, When You Need Them</p>
					<a href="/products/oilfield-products" class="button white">VIEW PRODUCTS</a>
				</div>
			</div>

			<div class="product-block dark-opacity" style="background-image: url(../images/products/forged-steel-fittings/forged-steel-fittings-hero.jpg)">
				<div class="textbox center light">
					<h3 class="mini-header">FORGED STEEL FITTINGS</h3>
					<p>If You Need a Connection That Can Be Made from Pipe, Bar or a Forging, We Can Do It!</p>
					<a href="/products/forged-steel-fittings" class="button white">VIEW PRODUCTS</a>
				</div>
			</div>
			<div class="product-block dark-opacity" style="background-image: url(../images/products/api-flanges/api-flanges-hero.jpg)">
				<div class="textbox center light">
					<h3 class="mini-header">API FLANGES</h3>
					<p>Westbrook Keeps a Full Line of API 6A Flanges in Stock</p>
					<a href="/products/api-flanges" class="button white">VIEW PRODUCTS</a>
				</div>
			</div>
			<div class="product-block dark-opacity" style="background-image: url(../images/products/specialty-flanges-fittings/specialty-flanges-fittings-hero.jpg)">
				<div class="textbox center light">
					<h3 class="mini-header">SPECIALTY FLANGES & FITTINGS</h3>
					<p>The Industry Leader in Quick Turn Specialty Flanges & Fittings</p>
					<a href="/products/specialty-flanges-fittings" class="button white">VIEW PRODUCTS</a>
				</div>
			</div>
		</div>
	</section>

	<section id="home-about">
		<div class="section-wrapper">
			<div class="img-wrapper col col-7">
				<img src="images/about-machinist.jpg" alt="">
			</div>
			<div class="textbox left col col-5">
				<h2>Westbrook Manufacturing</h2>
				<p>Westbrook Manufacturing began operations in the mid 1960's in Houston, Texas. Westbrook was founded by Sidney and Charlie Westbrook and in the early years established itself as an emergency and specialty manufacturer of pipe fittings serving the energy and industrial sectors.</p>
				<a href="/about" class="button red">ABOUT WESTBROOK</a>
			</div>
		</div>
	</section>

	<section id="home-cert-rfq">
		<div class="section-wrapper">
			<div class="cr-wrapper dark-opacity" style="background-image: url(../images/certifications-hero.jpg)">
				<div class="textbox light">
					<h3 class="mini-header">CERTIFICATIONS</h3>
					<p>Westbrook MFG is an ISO 9001:2015 certified company.  Click this link for copies of our certificates.</p>
					<a class="button clear" href="/certifications">VIEW CERTIFICATIONS</a>
				</div>
			</div>

			<div class="cr-wrapper dark-opacity" style="background-image: url(../images/rfq-hero.jpg)">
				<div class="textbox right light">
					<h3 class="mini-header">REQUEST FOR QUOTE</h3>
					<p>Click on the link below to request a quotation from our sales team on any of your product requirements.</p>
					<a class="button clear" href="/request-for-quote">REQUEST QUOTE</a>
				</div>
			</div>
		</div>
	</section>

	<section id="home-trusted">
		<div class="section-wrapper">
			<div class="textbox center">
				<h4 class="mini-header">TRUSTED BY INDUSTRY LEADERS</h4>
			</div>
			
			<div class="trustedby-logos-container">
				<img src="./images/logos/exxonmobil-logo.svg" alt="">
				<img src="./images/logos/conocophillips-logo.svg" alt="">
				<img src="./images/logos/bp-logo.svg" alt="">
				<img src="./images/logos/chevron-logo.svg" alt="">	
			</div>
		</div>
	</section>

	<section id="home-contact" class="dark-opacity" style="background-image: url(../images/cta-form.jpg)">
		<div class="section-wrapper">
			<div class="textbox right light col col-6">
				<h2>Have a Question or Interested in Our Work?</h2>
				<div class="inline">
					<a href="/contact">CONTACT US</a>
					<a href="/request-for-quote">NEED A QUOTE?</a>
				</div>
			</div>

			<div class="form-wrapper col col-6">
				<form class="sendEmail light">
					<span class="field-wrapper">
						<label for="name">Name:</label>
						<input type="text" id="name" >
					</span>

					<span class="field-wrapper">
						<label for="email">Email:</label>
						<input type="email" id="email" >
					</span>
	
					<span class="field-wrapper">
						<label for="message">Message:</label>
						<input type="text" id="message" >
					</span>
					<button id="submit-button" type="submit" class="button red">SEND</button>
					<span id="form-message">Thank you! Your message has been sent.</span>

				</form>
			</div>
		</div>
	</section>

	<script type="text/javascript">
		$(function() {
			$('.sendEmail').submit(function(e) {
				e.preventDefault();
					let name = $('#name').val();
					let email = $('#email').val();
					let message = $('#message').val();

				let submitButton = document.getElementById('submit-button');
				
				let res = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
			
				if (res){
					submitButton.setAttribute("disabled", "");
					submitButton.innerText = 'Sending...'

					let emailContactForm = $.ajax({
						type: 'POST',
						url: '/home-contact-form-submit',
						crossDomain: true,
						dataType: 'json',
						data: {
							name : name,
							email : email,
							message : message,
						},
					});

					emailContactForm.done(function(response) {
						if (response === 'error') {
              $("#form-message").text('Submission failed, please contact 713.675.6438 for assistance').addClass("error");

						} else { // --- Success
							console.log('email sent!');

							setTimeout(() => {
								$("#form-message").addClass("success").text('Thank you! Your message has been sent.');
								submitButton.removeAttribute("disabled");
								setTimeout(() => {
										location.reload(true);
								}, 10000);
							}, 2000);
						}
					});

				} else {
					$("#form-message").text('Invalid email.').addClass('error');
				}
			})
		});
	</script>
</body>

<% include ./partials/footer.ejs %>

	

