<!DOCTYPE html>
<html data-wf-page="5c05726cf49f2ca2dd717748" data-wf-site="5c05726cf49f2c2fcd717749">
<head>
	<title>API Flanges | Westbrook Manufacturing</title>
	<% include ../partials/head.ejs %>
</head>

<% include ../partials/header.ejs %>

<body class="products">
  
  <section class="hero hero-3" style="background-image: url(../images/products/api-flanges/api-flanges-hero.jpg)">
    <div class="section-wrapper">
      <div class="textbox center light">
        <h1>API Flanges</h1>
      </div>
    </div>
  </section>

  <section class="w-sidebar">
    <div class="section-wrapper">
      <% include ../partials/sidebar-products.ejs %>
      
      <main>
        <div class="textbox">
          <h3>Westbrook Keeps a Full Line of API 6A Flanges in Stock</h3>
          
          <p>We Stock a full line of API6A components from 1-13/16” to 7-1/16” nominal sizes and pressure classes from 2,000 psi up to 20,000 psi. Westbrook also maintains an extensive inventory of API flange forgings in 45k,60k, and 75k+ material to meet your needs with very competitive lead times. We also have the capability to meet all your testing requirements up to PSL4.</p>
        </div>
        
        <!-- <div class="gallery">
          <span class="img-wrapper">
            <img src="../images/products/api-flanges/.jpg">
          </span>
        </div> -->
          
      </main>
      
    </div>
  </section>

  <% include ../partials/product-form.ejs %>

</body>

<% include ../partials/footer.ejs %>