<!DOCTYPE html>
<html data-wf-page="5c05726cf49f2ca2dd717748" data-wf-site="5c05726cf49f2c2fcd717749">
<head>
	<title>Forged Steel Fittings | Westbrook Manufacturing</title>
	<% include ../partials/head.ejs %>
</head>

<% include ../partials/header.ejs %>

<body class="products">
  
  <section class="hero hero-3" style="background-image: url(../images/products/forged-steel-fittings/forged-steel-fittings-hero.jpg)">
    <div class="section-wrapper">
      <div class="textbox center light">
        <h1>Forged Steel Fittings</h1>
      </div>
    </div>
  </section>

  <section class="w-sidebar">
    <div class="section-wrapper">
      <% include ../partials/sidebar-products.ejs %>
      
      <main>
        <div class="textbox">
          <h3>If You Need a Connection That Can Be Made from Pipe, Bar or a Forging, We Can Do It!</h3>
          
          <p>Westbrook manufactures and stocks a full line of A234WPBN, WPL6, HY and 4130 Cushion Tees and Cushion Crosses. We also manufacture hard to find forged steel fittings, heavy wall Conc and Ecc Reducers, that conform to ASME/ANSI B16.9 or B16.11, in all grades of material. Solid round & hex plugs stocked in A105, F304/304L & F316/316L, in most lengths, sizes 1/8” thru 2”. Alloy forged steel fittings & specials are manufactured by Westbrook USA.</p>
        </div>
        
        <div class="gallery">
          <span class="img-wrapper">
            <img src="../images/products/forged-steel-fittings/Forged-Steel-Fittings---Product-Photo.jpg">
          </span>
          
          <span class="img-wrapper">
            <img src="../images/products/forged-steel-fittings/Forged-Steel-Fittings.jpg">
          </span>

          <span class="img-wrapper">
            <img src="../images/products/forged-steel-fittings/tee-forging.jpg">
          </span>
        </div>

      </main>
      
    </div>
  </section>

  <% include ../partials/product-form.ejs %>
  
</body>

<% include ../partials/footer.ejs %>