<!DOCTYPE html>
<html data-wf-page="5c05726cf49f2ca2dd717748" data-wf-site="5c05726cf49f2c2fcd717749">
<head>
	<title>Nipples | Westbrook Manufacturing</title>
	<% include ../partials/head.ejs %>
</head>

<% include ../partials/header-alt.ejs %>

<body class="products">
  
  <section class="hero hero-3" style="background-image: url(../images/products/nipples/nipples-hero.jpg)">
    <div class="section-wrapper">
      <div class="textbox center light">
        <h1>Nipples</h1>
      </div>
    </div>
  </section>

  <section class="w-sidebar">
    <div class="section-wrapper">
      <% include ../partials/sidebar-products.ejs %>

      <main>
        <div class="textbox">
          <h3>The Industry Standard for Pipe Nipples Since 1966</h3>
          
          <p>Westbrook produces and inventories a wide variety of pipe nipples, sizes 1/8”- 8”, S40 thru XXH, black & galvanized, seamless and welded Carbon Steel. Also available for immediate delivery are pipe nipples in T304/304L & T316/316L Stainless steel, 1/8” thru 6” S40 welded & S80, S160 & XXH Seamless. Special orders and expedited deliveries on pipe nipples in Chromes, Nickel Alloys & Exotic materials can be easily filled. All pipe nipples are permanently marked according to MSS SP-25.</p>
        </div>

        <div class="downloads-container">
          <div class="downloads-wrapper">
            <h4><b>232</b> - Oilfield Nipples</h4>

            <article class="card download-card">
              <a class="pdf" href="./../images/products/nipples/oilfield-nipples/232-adapter-npls-price-sheet.pdf" target="_blank">Carbon Steel Adapter Nipples</a> 
            </article>

            <article class="card download-card">
              <a class="pdf" href="./../images/products/nipples/oilfield-nipples/232-octg-csg-npls.pdf" target="_blank">Casing Nipples</a>     
            </article>

            <article class="card download-card">
              <a class="pdf" href="./../images/products/nipples/oilfield-nipples/232-octg-tbg-npls.pdf" target="_blank">Tubing Nipples</a> 
            </article>
          </div>

          <div class="downloads-wrapper">
            <!-- <h4><b>414</b> - Stainless Steel</h4> -->
            <h4><b>416</b> - Stainless Steel</h4>
            <article class="card download-card">
              <a class="pdf" href="./../images/products/nipples/stainless-steel/416-304L-&-316L-s40-smls-npls.pdf" target="_blank">S40 Seamless 304/304L & 316/316L Nipples</a>
            </article>

            <article class="card download-card">
              <a class="pdf" href="./../images/products/nipples/stainless-steel/416-304L-&-316L-s40-wld-npls.pdf" target="_blank">S40 Welded 304/304L & 316/316L Nipples</a>
            </article>

            <article class="card download-card">
              <a class="pdf" href="./../images/products/nipples/stainless-steel/304l-&-316l-S80-smls-nipple-sheet.pdf" target="_blank">S80 Seamless 304/304L & 316/316L Nipples</a>
            </article>
          </div>

          <div class="downloads-wrapper">
            <h4><b>629</b> - Carbon Steel Seamless Nipples</h4>
            <article class="card download-card">
              <a class="pdf" href="./../images/products/nipples/carbon-steel-seamless-nipples/629-S160-&-XXH-C-S-Smls-Npls.pdf" target="_blank">Seamless Blk S/160 & XXH Nipples</a>
            </article>

            <article class="card download-card">
              <a class="pdf" href="./../images/products/nipples/carbon-steel-seamless-nipples/629-S40-Smls-Blk-Npls.pdf" target="_blank">Seamless Blk S/40 Nipples</a>
            </article>

            <article class="card download-card">
              <a class="pdf" href="./../images/products/nipples/carbon-steel-seamless-nipples/629-S80-C-S-Smls-Npls.pdf" target="_blank">Seamless Blk S/80 Nipples</a>
            </article>
          </div>

          <div class="downloads-wrapper">
            <h4><b>629</b> - Carbon Steel Welded Nipples</h4>
            <article class="card download-card">
              <a class="pdf" href="./../images/products/nipples/carbon-steel-welded-nipples/629-S40-C-S-Wld-Blk-Npls.pdf" target="_blank">S40 C-S Wld Blk Npls</a>
            </article>

            <article class="card download-card">
              <a class="pdf" href="./../images/products/nipples/carbon-steel-welded-nipples/629-S40-C-S-Wld-Galv-Npls.pdf" target="_blank">S40 C-S Wld Galv Npls</a>
            </article>

            <article class="card download-card">
              <a class="pdf" href="./../images/products/nipples/carbon-steel-welded-nipples/629-S80-C-S-Wld-Blk-Npls.pdf" target="_blank">S80 C-S Wld Blk Npls</a> 
            </article>

            <article class="card download-card">
              <a class="pdf" href="./../images/products/nipples/carbon-steel-welded-nipples/629-S80-C-S-Wld-Galv-Npls.pdf" target="_blank">S80 C-S Wld Galv Npls</a>
            </article>
          </div>
        </div>

        
        <div class="gallery">
          <span class="img-wrapper">
            <img src="../images/products/nipples/Nipple-Blanks.jpg">
          </span>

          <span class="img-wrapper">
            <img src="../images/products/nipples/Pipe-Nipples-1.jpg">
          </span>

          <span class="img-wrapper">
            <img src="../images/products/nipples/Pipe-Nipples-3.jpg">
          </span>
        </div>
      </main>

    </div>
  </section>

  <% include ../partials/product-form.ejs %>
</body>

<% include ../partials/footer.ejs %>