<!DOCTYPE html>
<html data-wf-page="5c05726cf49f2ca2dd717748" data-wf-site="5c05726cf49f2c2fcd717749">
<head>
	<title>Products | Westbrook Manufacturing</title>
	<% include ../partials/head.ejs %>
</head>

<% include ../partials/header.ejs %>

<body id="products">

  <section id="product-options">
    <div class="section-wrapper">

      <div class="col col-3 product-category" style="background-image: url(../images/products/nipples/nipples-hero.jpg)">
        <a href="/products/nipples">
          <div class="textbox light">
            <h2>Nipples</h2>
            <p>The Industry Standard for Pipe Nipples Since 1966</p>
            <span class="button clear">View Products</span>
          </div>
        </a>
      </div>

      <div class="col col-6 product-category" id="products-hero" style="background-image: url(../images/products/products-hero.jpg)">
        <div class="textbox light center">
          <h1>Products</h1>
        </div>
      </div>

      <div class="col col-3 product-category" style="background-image: url(../images/products/swages-bull-plugs/swages-bull-plugs-hero.jpg)">
        <a href="/products/swages-bull-plugs">
          <div class="textbox light">
            <h2>Swages Bull Plugs</h2>
            <p>Whatever the Application, Upstream or Downstream, Westbrook has the Answer</p>
            <span class="button clear">View Products</span>
          </div>
        </a>
      </div>

      <div class="col col-3 product-category" style="background-image: url(../images/products/oilfield/oilfield-hero.jpg)">
        <a href="/products/oilfield-products">
          <div class="textbox light">
            <h2>Oilfield Products</h2>
            <p>The Hookups You Need, When You Need Them</p>
            <span class="button clear">View Products</span>
          </div>
        </a>
      </div>

      <div class="col col-3 product-category" style="background-image: url(../images/products/forged-steel-fittings/forged-steel-fittings-hero.jpg)">
        <a href="/products/forged-steel-fittings">
          <div class="textbox light">
            <h2>Forged Steel Fittings</h2>
            <p>If You Need a Connection That Can Be Made from Pipe, Bar or a Forging, We Can Do It!</p>
            <span class="button clear">View Products</span>
          </div>
        </a>
      </div>

      <div class="col col-3 product-category" style="background-image: url(../images/products/api-flanges/api-flanges-hero.jpg)">
        <a href="/products/api-flanges">
          <div class="textbox light">
            <h2>API Flanges</h2>
            <p>Westbrook Keeps a Full Line of API 6A Flanges in Stock</p>
            <span class="button clear">View Products</span>
          </div>
        </a>
      </div>

      <div class="col col-3 product-category" style="background-image: url(../images/products/specialty-flanges-fittings/specialty-flanges-fittings-hero.jpg)">
        <a href="/products/specialty-flanges-fittings">
          <div class="textbox light">
            <h2>Specialty Flanges & Fittings</h2>
            <p>The Industry Leader in Quick Turn Specialty Flanges & Fittings</p>
            <span class="button clear">View Products</span>
          </div>
        </a>
      </div>
    </div>
  </section>

</body>

<% include ../partials/footer.ejs %>