<!DOCTYPE html>
<html data-wf-page="5c05726cf49f2ca2dd717748" data-wf-site="5c05726cf49f2c2fcd717749">
<head>
	<title>Specialty Flanges & Fittings | Westbrook Manufacturing</title>
	<% include ../partials/head.ejs %>
</head>

<% include ../partials/header.ejs %>

<body class="products">
  
  <section class="hero hero-3" style="background-image: url(../images/products/specialty-flanges-fittings/specialty-flanges-fittings-hero.jpg)">
    <div class="section-wrapper">
      <div class="textbox center light">
        <h1>Specialty Flanges & Fittings</h1>
      </div>
    </div>
  </section>

  <section class="w-sidebar">
    <div class="section-wrapper">
      <% include ../partials/sidebar-products.ejs %>
      
      <main>
        <div class="textbox">
          <h3>The Industry Leader in Quick Turn Specialty Flanges & Fittings</h3>
          
          <p>Westbrook can also manufacture a wide range of specialty products and fittings, in all grades of material. Special orders and expedited deliveries offered on all Flanges, Weld Fittings, Forged Fittings and Piping Outlets. All manufactured, domestically, to meet your exact specifications.</p>
        </div>
        
        <div class="gallery">
          <span class="img-wrapper">
            <img src="../images//products/specialty-flanges-fittings/specialty-flanges-fittings-hero.jpg">
          </span>

          <span class="img-wrapper">
            <img src="../images//products/specialty-flanges-fittings/Specialty-Casing-Swage.jpg">
          </span>

          <span class="img-wrapper">
            <img src="../images//products/specialty-flanges-fittings/Nipo-Flange.jpg">
          </span>
        </div>
          
      </main>
      
    </div>
  </section>

  <% include ../partials/product-form.ejs %>
  
</body>

<% include ../partials/footer.ejs %>