<!DOCTYPE html>
<html data-wf-page="5c05726cf49f2ca2dd717748" data-wf-site="5c05726cf49f2c2fcd717749">
<head>
	<title>Swages & Bull Plugs | Westbrook Manufacturing</title>
	<% include ../partials/head.ejs %>
</head>

<% include ../partials/header.ejs %>

<body class="products">
  
  <section class="hero hero-3" style="background-image: url(../images/products/swages-bull-plugs/swages-bull-plugs-hero.jpg)">
    <div class="section-wrapper">
      <div class="textbox center light">
        <h1>Swages & Bull Plugs</h1>
      </div>
    </div>
  </section>

  <section class="w-sidebar">
    <div class="section-wrapper">
      <% include ../partials/sidebar-products.ejs %>

      <main>
        <div class="textbox">
          <h3>Whatever the Application, Upstream or Downstream, Westbrook has the Answer</h3>
          
          <p>All of Westbrook’s concentric and eccentric swages and bull plugs meet the requirements of ASME/ANSI B16.9 & MSS SP-95. Available from stock in carbon steel and stainless steel, our swage sizes range from 1/4” x 1/8” thru 8” x 2”. Most reductions and schedules (s/10 through XXH), end preparations (TBE, PBE, PXT, BXT, BBE & BXP). </p>
          <p>Westbrook also maintains the most extensive inventory of combination schedule and eccentric swages in the industry. Bull plugs are available in sizes 1/8” thru 8”, in most schedules from STOCK. Special orders and expedited deliveries on swages & bull plugs are available in Chromes, Nickel, Alloys & Exotics.</p>
        </div>

        <div class="downloads-container">

          <div class="downloads-wrapper">
            <h4><b>232</b> - Carbon Steel</h4>
            <article class="card download-card">
              <a class="pdf" href="./../images/products/swages-bull-plugs/carbon-steel/232-bull-plug-price-sheet.pdf" target="_blank">Bull Plugs</a>
            </article>

            <article class="card download-card">
              <a class="pdf" href="./../images/products/swages-bull-plugs/carbon-steel/232-conc-swg-price-sheet.pdf" target="_blank">Concentric Swages</a>
            </article>

            <article class="card download-card">
              <a class="pdf" href="./../images/products/swages-bull-plugs/carbon-steel/232-ecc-swg-price-sheet.pdf" target="_blank">Eccentric Swages</a> 
            </article>
            
            <article class="card download-card">
              <a class="pdf" href="./../images/products/swages-bull-plugs/carbon-steel/232-solid-blk-refinery-plugs.pdf" target="_blank">Refinery Plugs</a>
            </article>
            
            <article class="card download-card">
              <a class="pdf" href="./../images/products/swages-bull-plugs/carbon-steel/232-swages-&-bull-plugs-extras.pdf" target="_blank">Swages & Bull Plugs Extras</a>
            </article>
          </div>

          <div class="downloads-wrapper">
            <h4><b>232</b> - Oilfield</h4>
            <article class="card download-card">
              <a class="pdf" href="./../images/products/swages-bull-plugs/oilfield/232-octg-tbg-&-csg-swgs.pdf" target="_blank">Tubing & Casing Swage Nipple</a>
            </article>

            <article class="card download-card">
              <a class="pdf" href="./../images/products/swages-bull-plugs/oilfield/232-octg-swg-extras-sheet.pdf" target="_blank">Swage Extras</a>
            </article>

            <article class="card download-card">
              <a class="pdf" href="./../images/products/swages-bull-plugs/oilfield/232-octg-swg-npls-price-sheet.pdf" target="_blank">Tubing Swage Nipples</a>
            </article>
          </div>

          <div class="downloads-wrapper">
            <!-- <h4><b>414</b> - Stainless</h4> -->
            <h4><b>416</b> - Stainless</h4>
            <article class="card download-card">
              <a class="pdf" href="./../images/products/swages-bull-plugs/stainless/416-304-&-316rd-hd-plg.pdf" target="_blank">F304 & F316 Plugs</a>
            </article>

            <article class="card download-card">
              <a class="pdf" href="./../images/products/swages-bull-plugs/stainless/416-304L-swg-price-sheet.pdf" target="_blank">F304/304L Swages</a>
            </article>

            <article class="card download-card">
              <a class="pdf" href="./../images/products/swages-bull-plugs/stainless/416-316L-swg-price-sheet.pdf" target="_blank">F316/316L Swages</a>
            </article>

            <article class="card download-card">
              <a class="pdf" href="./../images/products/swages-bull-plugs/stainless/416-F410-amoco-plg-price-sheet.pdf" target="_blank">F410 Amoco Plugs</a>
            </article>
          </div>
        </div>
        
        <div class="gallery">
          <span class="img-wrapper">
            <img src="../images/products/swages-bull-plugs/Measuring-Swage-Blank.jpg">
          </span>

          <span class="img-wrapper">
            <img src="../images/products/swages-bull-plugs/Swage-Forming.jpg">
          </span>

          <span class="img-wrapper">
            <img src="../images/products/swages-bull-plugs/Swage-Forming-2.jpg">
          </span>

          <span class="img-wrapper">
            <img src="../images/products/swages-bull-plugs/Swage-Press-Robot.jpg">
          </span>

          <span class="img-wrapper">
            <img src="../images/products/swages-bull-plugs/Swages-&-Bullplugs.jpg">
          </span>
        </div>
          
      </main>

    </div>
  </section>

  <% include ../partials/product-form.ejs %>
  
</body>

<% include ../partials/footer.ejs %>